<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" routerLink="/">eMentor</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="false" aria-expanded="false">
                        <img src="{{userAvatar | image}}" alt="image" class="rounded-circle"> <span
                            class="ml-1">Hello!!! {{userName}}<i class="mdi mdi-chevron-down"></i> </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown">
                        <div class="dropdown-item noti-title">
                            <h6 class="text-overflow m-0">Hello !</h6>
                        </div>
                        <a href="javascript:void(0);" class="dropdown-item notify-item" routerLink='/view-profile'>
                            <i class="fi-head"></i> <span>View Profile</span>
                        </a>
                        <a href="javascript:void(0);" class="dropdown-item notify-item" routerLink="/change-password">
                            <i class="fi-lock"></i> <span>Change Password</span>
                        </a>
                        <a href="javascript:void(0);" class="dropdown-item notify-item" routerLink="/logout">
                            <i class="fi-power"></i> <span>Logout</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card" style="margin-top: 100px;">
                    <div class="card-body">
                        <table id="datatable"
                            class="table table-hover m-0 tickets-list table-actions-bar dt-responsive nowrap"
                            cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Role</th>
                                    <th>Gender</th>
                                    <th>Email</th>
                                    <th>Menu</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users">

                                    <td>
                                        <img class="rounded-circle img-cover" src="{{user.avatar | image}}" height="48"
                                            width="48" alt="image">
                                        <label class="ml-2">{{user.fullName}}</label>
                                    </td>
                                    <td>
                                        <div [ngSwitch]="user.role">
                                            <label class="badge badge-danger" *ngSwitchCase="2">Teacher</label>
                                            <label class="badge badge-primary" *ngSwitchCase="3">Student</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div [ngSwitch]="user.gender">
                                            <label class="badge badge-danger" *ngSwitchCase="3">Other</label>
                                            <label class="badge badge-primary" *ngSwitchCase="2">Female</label>
                                            <label class="badge badge-primary" *ngSwitchCase="1">Male</label>
                                        </div>
                                    </td>
                                    <td>
                                        {{user.email}}
                                    </td>
                                    <td>

                                        <div class="btn-group dropdown">
                                            <a href="javascript: void(0);"
                                                class="table-action-btn dropdown-toggle arrow-none btn btn-primary btn-md"
                                                data-toggle="dropdown" aria-expanded="false"><i
                                                    class="mdi mdi-settings"></i></a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" (click)="upgrade(user.userId)"><i
                                                        class="mdi mdi-lock-open-outline"></i> Upgrade</a>
                                                <a class="dropdown-item" (click)="remove(user.userId)"><i
                                                        class="mdi mdi-account-remove"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Role</th>
                                    <th>Gender</th>
                                    <th>Email</th>
                                    <th>Menu</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="py-5 bg-dark footer">
    <div class="container">
        <p class="m-0 text-center text-white">eMentor Website © 2019</p>
    </div>
</footer>