  <div class="container">
    <div class="row">
        <div class="account-pages">

            <!-- Begin page -->
            <div class="accountbg" style="left:0;"
                [ngStyle]="{'background-image': 'url(' + backgroundImage + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
            </div>

            <div class="wrapper-page account-page-full" style="top:0;">

                <div class="card">
                    <div class="card-block">
                        <div class="account-box">
                            <div class="card-box p-5">
                                <h2 class="text-uppercase text-center pb-4">
                                    <a routerLink="/" class="text-success">
                                        <span><img src="assets/images/new-logo.png" alt="" height="96"></span>
                                    </a>
                                </h2>
            
                                <div class="text-center">
                                    <h1 class="text-error">404</h1>
                                    <h4 class="text-uppercase text-danger mt-3">Page Not Found</h4>
                                    <p class="text-muted mt-3">It's looking like you may have taken a wrong turn. Don't worry... it
                                        happens to the best of us. Here's a
                                        little tip that might help you get back on track.</p>
            
                                    <a class="btn btn-md btn-block btn-custom waves-effect waves-light mt-3" routerLink="/"> Return Home</a>
                                </div>
            
                            </div>
                        </div>

                    </div>
                </div>
                <div class="m-t-40 text-center">
                    <p class="account-copyright">eMentor Website © 2019</p>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner></ngx-spinner>