<div class="container">
    <div class="row">
        <div class="account-pages">

            <!-- Begin page -->
            <div class="accountbg" style="left:0;"
                [ngStyle]="{'background-image': 'url(' + backgroundImage + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
            </div>

            <div class="wrapper-page account-page-full" style="top:0;">

                <div class="card">
                    <div class="card-block">
                        <div class="account-box">
                            <div class="card-box p-5">
                                <h4 class="card-title text-center">CREATE YOUR ACCOUNT NOW</h4>
                                <div class="signup-line"></div>
                                <form #form="ngForm" (submit)="register(form)" autocomplete="abcxyz">

                                    <div class="form-group m-b-20 row">
                                        <div class="col-12">
                                            <app-text-box type="text" title="Full Name" name="fullName"
                                                placeholder="Your name go here" [(ngModel)]="model.fullName"
                                                required="true">
                                                <div invalidmessage="fullName">
                                                    <p *invalidType="'required'">Please input your full name here!!!</p>
                                                </div>
                                            </app-text-box>
                                        </div>
                                    </div>

                                    <div class="form-group m-b-20 row">
                                        <div class="col-12">
                                            <app-text-box type="email" title="Email Address" name="email" email="true"
                                                placeholder="Email address go here" [(ngModel)]="model.email"
                                                required="true">
                                                <div invalidmessage="email">
                                                    <p *invalidType="'required'">Please input your email here!!!</p>
                                                    <p *invalidType="'email'">Email invalid!!!</p>
                                                </div>
                                            </app-text-box>
                                        </div>
                                    </div>

                                    <div class="form-group row m-b-20">
                                        <div class="col-12">
                                            <app-text-box type="password" title="Password" name="passCode"
                                                placeholder="*********" [(ngModel)]="model.password" password="true"
                                                validateEqual="confPassword" reverse="true" required="true">
                                                <div invalidmessage="passCode">
                                                    <p *invalidType="'required'">Please input your password here!!!</p>
                                                    <p *invalidType="'password'">Password invalid!!!</p>
                                                </div>
                                            </app-text-box>

                                        </div>
                                    </div>

                                    <div class="form-group row m-b-20">
                                        <div class="col-12">
                                            <app-text-box type="password" title="Confirm password" name="confPassword"
                                                placeholder="*********" [(ngModel)]="model.confirmPassword"
                                                password="true" validateEqual="passCode" class="required-icon"
                                                reverse="false" required="true">
                                                <div invalidmessage="confPassword">
                                                    <p *invalidType="'required'">Please confirm your password here!!!
                                                    </p>
                                                    <p *invalidType="'password'">Password invalid!!!</p>
                                                    <p *invalidType="'validateEqual'">Password does not match!!!</p>
                                                </div>
                                            </app-text-box>

                                        </div>
                                    </div>

                                    <div class="form-group row text-center m-t-10">
                                        <div class="col-12">
                                            <button class="btn btn-block btn-custom waves-effect waves-light">SIGN
                                                UP</button>
                                        </div>
                                    </div>

                                </form>
                                <div class="signup-line">
                                    <div>Already have an account?</div>
                                    <button type="button" class="btn signin-btn" routerLink="/">Sign in</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="m-t-40 text-center">
                    <p class="account-copyright">eMentor Website © 2019</p>
                </div>
            </div>
        </div>
    </div>
</div>