<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index.html" style="margin-left: -5%;">eMentor</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<div class="container mb-4">

    <div class="row">
        <div class="col-xs-6 col-md-6 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center">CREATE YOUR ACCOUNT NOW</h4>
                    <h6 class="card-subtitle mb-2 text-muted text-center">Sign Up</h6>
                    <div class="signup-line"></div>
                    <form #form="ngForm" (submit)="register(form)" autocomplete="abcxyz">

                        <div class="form-group m-b-20 row">
                            <div class="col-12">
                                <app-text-box type="text" title="Full Name" name="fullName" placeholder="Your name go here"
                                    [(ngModel)]="model.fullName" required="true">
                                    <div invalidmessage="fullName">
                                        <p *invalidType="'required'">Please input your full name here!!!</p>
                                    </div>
                                </app-text-box>
                            </div>
                        </div>

                        <div class="form-group m-b-20 row">
                            <div class="col-12">
                                <app-text-box type="email" title="Email Address" name="email" email="true"
                                    placeholder="Email address go here" [(ngModel)]="model.email"
                                    required="true">
                                    <div invalidmessage="email">
                                        <p *invalidType="'required'">Please input your email here!!!</p>
                                        <p *invalidType="'email'">Email invalid!!!</p>
                                    </div>
                                </app-text-box>
                            </div>
                        </div>

                        <div class="form-group row m-b-20">
                            <div class="col-12">
                                <app-text-box type="password" title="Password" name="passCode" placeholder="*********"
                                    [(ngModel)]="model.password" password="true" validateEqual="confPassword" 
                                    reverse="true" required="true">
                                    <div invalidmessage="passCode">
                                        <p *invalidType="'required'">Please input your password here!!!</p>
                                        <p *invalidType="'password'">Password invalid!!!</p>
                                    </div>
                                </app-text-box>

                            </div>
                        </div>

                        <div class="form-group row m-b-20">
                            <div class="col-12">
                                <app-text-box type="password" title="Confirm password" name="confPassword" placeholder="*********"
                                    [(ngModel)]="model.confirmPassword" password="true" validateEqual="passCode"
                                    class="required-icon" reverse="false" required="true">
                                    <div invalidmessage="confPassword">
                                        <p *invalidType="'required'">Please confirm your password here!!!</p>
                                        <p *invalidType="'password'">Password invalid!!!</p>
                                        <p *invalidType="'validateEqual'">Password does not match!!!</p>
                                    </div>
                                </app-text-box>

                            </div>
                        </div>

                        <div class="form-group row text-center m-t-10">
                            <div class="col-12">
                                <button class="btn btn-block btn-custom waves-effect waves-light">SIGN UP</button>
                            </div>
                        </div>

                    </form>
                    <div class="signup-line">
                        <div>Already have an account?</div>
                        <button type="button" class="btn signin-btn" routerLink="/login">Sign in</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-6 col-lg-6">
            <img src="assets/images/subg.jpg" alt="images" >
        </div>
    </div>
</div>

<footer class="py-5 bg-dark footer">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; eCouching Website 2019</p>
    </div>
</footer>