<div class="row">
  <div class="col-12">
    <div class="card-box">
      <div class="row">
        <div class="col-sm-6 col-lg-6 col-xl-3">
          <div class="card-box mb-0 widget-chart-two">
            <div class="widget-chart-two-content">
              <p class="text-muted mb-0 mt-2">Total Subscriber</p>
              <h3 class="">0<i class="mdi mdi-24px mdi-receipt text-warning icon-lg float-right"></i></h3>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-6 col-xl-3">
          <div class="card-box mb-0 widget-chart-two">
            <div class="widget-chart-two-content">
              <p class="text-muted mb-0 mt-2">Total Revenue</p>
              <h3 class="">0<i class="mdi mdi-24px mdi-poll-box text-success icon-lg float-right"></i></h3>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-6 col-xl-3">
          <div class="card-box mb-0 widget-chart-two">
            <div class="widget-chart-two-content">
              <p class="text-muted mb-0 mt-2">Total Uploaded Courses</p>
              <h3 class="">0<i class="mdi mdi-24px mdi-account-location text-info icon-lg float-right"></i></h3>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-6 col-xl-3">
          <div class="card-box mb-0 widget-chart-two">
            <div class="widget-chart-two-content">
              <p class="text-muted mb-0 mt-2">Total Rating</p>
              <h3 class="">0<i class="mdi mdi-24px mdi-cube text-danger icon-lg float-right"></i></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>