.logo-padlef{
    padding-left:5%;
  }
  
  .pointer{
    cursor: pointer;
  }
  .slimscroll {
    min-height: 0px;
    max-height: 350px;
    height: auto !important;
  }
  .body {
    padding-top:0px !important;
  }
  