<div class="account-pages">

    <!-- Begin page -->
    <div class="accountbg"
      [ngStyle]="{'background-image': 'url(' + backgroundImage + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center', 'left': '0px'}">
    </div>
  
    <div class="wrapper-page account-page-full">
  
      <div class="card">
        <div class="card-block">
  
          <div class="account-box">
  
            <div class="card-box p-5">
              <h2 class="text-uppercase text-center pb-4">
                <a routerLink="/" class="text-success">
                  <span><img src="assets/images/logo.png" alt="" height="72"></span>
                </a>
              </h2>
  
              <form #form="ngForm" (submit)="changePassword(form)" autocomplete="on">
  
                <div class="form-group m-b-20 row">
                  <div class="col-12">
                    <app-text-box type="password" title="Old Password" name="oldPassCode" placeholder="*********" required="true"
                                  [(ngModel)]="model.oldPasscode" password="true">
                      <div invalidmessage="oldPassCode">
                        <p *invalidType="'required'">Please input your old password</p>
                        <p *invalidType="'password'">Your old password is incorrect format</p>
                      </div>
                    </app-text-box>
                  </div>
                </div>
  
                <div class="form-group row m-b-20">
                  <div class="col-12">
                    <app-text-box type="password" title="New Password" name="newPassCode" placeholder="*********" required="true"
                                  [(ngModel)]="model.newPassCode" password="true" validateEqual="confPassCode" reverse="true">
                      <div invalidmessage="newPassCode">
                        <p *invalidType="'required'">Please input your new password</p>
                        <p *invalidType="'password'">Your new password is incorrect format</p>
                      </div>
                    </app-text-box>
                  </div>
                </div>
  
                <div class="form-group row m-b-20">
                  <div class="col-12">
                    <app-text-box type="password" title="Confirm New Password" name="confPassCode" placeholder="*********" required="true"
                                  password="true" validateEqual="newPassCode" reverse="false" [(ngModel)]="model.confPassCode">
                      <div invalidmessage="confPassCode">
                        <p *invalidType="'required'">Please confirm your new password</p>
                        <p *invalidType="'password'">Your confirm password is incorrect format</p>
                        <p *invalidType="'validateEqual'">Your confirm password must be the same as your new password</p>
                      </div>
                    </app-text-box>
                  </div>
                </div>
  
                <div class="form-group row text-center m-t-10">
                  <div class="col-12">
                    <button class="btn btn-block btn-custom waves-effect waves-light">Change Password</button>
                  </div>
                </div>
                <p class="text-dark font-14 mt-5">
                  - Password must be at least 8 characters.<br />
                  - Password must contain at least 1 uppercase letter.<br />
                  - Password must contain at least 1 lowercase letter.<br />
                  - Password must contain at least 1 special character (@,!, #, $, ...)<br />
                  - Password must contain at least 1 numeric character.
                </p>
              </form>
            </div>
          </div>
  
        </div>
      </div>
  
      <div class="m-t-40 text-center">
        <p class="account-copyright">2019 © Ementor</p>
      </div>
  
    </div>
  
  </div>