
<form #form="ngForm" (submit)="editMentorProfile(form)" autocomplete="on">
    <div class="row">
        <div class="col-sm-12">

            <div class="profile-user-box card-box bg-custom">
                <div class="row">
                    <div class="col-sm-5 col-xs-5" style="align-items: center;
                                    display: flex;">
                        <span class="mr-3 text-center"><img src="{{avatar ? avatar : user.avatar | image}}" alt=""
                                class="thumb-lg rounded-circle mb-4"></span>
                        <input type="file" class="file-upload-default" (change)="onChange($event)" #imageUpload hidden>
                        <div class="input-group">
                            <input type="text" value="{{imageInfo}}" class="form-control file-upload-info" disabled
                                placeholder="Upload here">
                            <span class="input-group-append">
                                <button class="btn btn-info" type="button" (click)="imageUpload.click()">Upload</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-5 col-xs-5">
                        <div class="media-body text-black">

                            <p class="text-black font-13"><strong>User Name :</strong>
                                <app-text-box class="app-text" type="text" name="userName" [(ngModel)]="user.userName">

                                </app-text-box>
                            </p>

                            <p class="text-black font-13"><strong>Strength :</strong>
                                <app-text-box class="app-text" type="text" name="strength" [(ngModel)]="user.strength">

                                </app-text-box>
                            </p>

                            <p class="text-black font-13"><strong>Address :</strong>
                                <app-text-box class="app-text" type="text" name="address" [(ngModel)]="user.address">

                                </app-text-box>
                            </p>

                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-2" style="align-items:center">
                        <div class="text-right">
                            <button type="button" class="btn btn-light btn-custom waves-effect" (click)="editMentorProfile(form)">
                                <i class="mdi mdi-account-settings-variant mr-1"></i> Confirm Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4">
            <div class="card-box">
                <h4 class="header-title mt-0 m-b-20">Personal Information</h4>
                <div class="panel-body">
                    <textarea class="form-group col-md-12 textArea" rows="8"
                        style="border-radius: 1rem;" type="text" name="bio" [(ngModel)]="user.bio">
                                </textarea>

                    <hr />

                    <div class="text-left">
                        <p class="text-muted font-13"><strong>Full Name :</strong>
                            <app-text-box class="app-text" type="text" name="fullName" [(ngModel)]="user.fullName">

                            </app-text-box>
                        </p>

                        <p class="text-muted font-13"><strong>Mobile :</strong>
                            <app-text-box class="app-text" type="text" name="phone" [(ngModel)]="user.phone">

                            </app-text-box>
                        </p>

                        <p class="text-muted font-13"><strong>Email :</strong>
                            <app-text-box class="app-text" type="text" name="email" [(ngModel)]="user.email">

                            </app-text-box>
                        </p>

                        <p class="text-muted font-13"><strong>Location :</strong>
                            <app-text-box class="app-text" type="text" name="location" [(ngModel)]="user.location">

                            </app-text-box>
                        </p>

                        <p class="text-muted font-13"><strong>Languages :</strong>
                            <app-text-box class="app-text" type="text" name="languages" [(ngModel)]="user.languages">

                            </app-text-box>
                        </p>

                    </div>

                    <ul class="social-links list-inline m-t-20 m-b-0">
                        <li class="list-inline-item">
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href=""
                                data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href=""
                                data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href=""
                                data-original-title="Skype"><i class="fa fa-skype"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>


        <div class="col-xl-8">
            <div class="card-box">
                <h4 class="header-title mt-0 mb-3">Experience</h4>
                <div class="btn-div">
                    <div class="ss" (click)="onAddRow()" *ngIf="tmpo!=1;else temp">Add an experience</div>
                </div>
            </div>

        </div>
    </div>
</form>



<ng-template #temp>
    <div *ngFor="let a of arrayOfObj; let uExp of user.exp">
        <p class="text-muted font-13"><strong>Job Title :</strong>
            <app-text-box class="app-text" type="text" name="expJobTitle" [(ngModel)]="uExp.jobTitle">

            </app-text-box>
        </p>

        <p class="text-muted font-13"><strong>Company Site :</strong>
            <app-text-box class="app-text" type="text" name="expCompanySite" [(ngModel)]="uExp.companySite">

            </app-text-box>
        </p>

        <p class="text-muted font-13"><strong>Time :</strong>
            <app-text-box class="app-text" type="text" name="expTime" [(ngModel)]="uExp.time">

            </app-text-box>
        </p>

        <p class="text-muted font-13"><strong>Description :</strong>
            <textarea class="form-group col-md-12 textArea" name="description" rows="5" style="border-radius: 1rem;"
            type="text" [(ngModel)]="uExp.description">
       </textarea>
        </p>
        <hr />
        <div class="col-md-12">
            <div class="btn-div">
                <div class="ss" (click)="onAddRow()" *ngIf="tmpo!=2;else tempo">Add other experience</div>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #tempo>
    <input class="form-control" id="usr" placeholder="Enter text...">
</ng-template>