<div *ngIf="!isTeacher">
  <header>
    <div id="carouselExampleIndicators" class="slide carousel slide" data-ride="carousel" style="padding-top: 60px;">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active" style="background-image: url('/assets/images/slider1.jpg')">
        </div>
        <div class="carousel-item" style="background-image: url('/assets/images/slider2.jfif')">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('/assets/images/slider3.jpg')">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </header>
  <div class="row mt-5">
    <div class="col-sm-4">
      <app-search-box placeholder="Search course" [delayTimeSpan]=500 (searchTextInvoke)='searchCourse($event)'>
      </app-search-box>
    </div>
    <div class="col-sm-8">
      <div class="project-sort float-right">
        <div class="project-sort-item">
          <form class="form-inline">
            <div class="form-group">
              <label for="phase-select">Category :</label>
              <select class="form-control ml-2 form-control-sm" id="phase-select"
                (change)="getCourseByCourseCategory($event.target.value)">
                <option value="0">All</option>
                <option value="1">Design</option>
                <option value="2">Drawing</option>
                <option value="3">Language</option>
                <option value="4">Math</option>
                <option value="5">Programming</option>
                <option value="6">Science</option>
                <option value="7">Psycho</option>
              </select>
            </div>
            <div class="form-group">
              <label for="sort-select">Sort :</label>
              <select class="form-control ml-2 form-control-sm" id="sort-select"
                (change)="sortListCourses($event.target.value)">
                <option value="CourseName">Name</option>
                <option value="CourseCategory">Category</option>
                <option value="Price">Course Fee</option>
              </select>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <div *ngIf="courses" class="row">

      <div class="col-md-6 col-lg-4" *ngFor="let course of courses">

        <div class="card-box project-box ribbon-box">

          <div *ngIf="course.courseCategory == 1" class="ribbon-two ribbon-two-custom">
            <span>{{course.categoryModel.Name}}</span></div>
          <div *ngIf="course.courseCategory == 2" class="ribbon-two ribbon-two-warning">
            <span>{{course.categoryModel.Name}}</span></div>
          <div *ngIf="course.courseCategory == 3" class="ribbon-two ribbon-two-danger">
            <span>{{course.categoryModel.Name}}</span></div>
          <div *ngIf="course.courseCategory == 4" class="ribbon-two ribbon-two-info">
            <span>{{course.categoryModel.Name}}</span></div>
          <div *ngIf="course.courseCategory == 5" class="ribbon-two ribbon-two-primary">
            <span>{{course.categoryModel.Name}}</span></div>
          <div *ngIf="course.courseCategory == 6" class="ribbon-two ribbon-two-success">
            <span>{{course.categoryModel.Name}}</span></div>
          <div *ngIf="course.courseCategory == 7" class="ribbon-two ribbon-two-purple">
            <span>{{course.categoryModel.Name}}</span></div>

          <div class="dropdown float-right">

            <a class="dropdown-toggle card-drop arrow-none" data-toggle="dropdown" aria-expanded="false">
              <h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item" routerLink="/view-profile/{{course.ownerId}}">View Mentor Profile</a>
              <a class="dropdown-item" (click)="regisCourse(course.Id, course.courseFee)">Attend Course</a>
            </div>

          </div>

          <p class="text-muted text-uppercase mb-0 font-13 text-center">{{course.availableFrom | date: "hh:mm a"}} to
            {{course.availableTo | date: "hh:mm a"}}</p>

          <p class="project-hide-overflow">
            <span class="thumb-lg member-thumb mr-15 m-b-10 d-inline-block">
              <img src="{{course.courseImage | image}}" height="48" width="48" class="rounded-circle img-thumbnail"
                title="{{course.name}}" alt="friend" />
            </span>
            <span class="text-dark mb-0 font-15 ml-3"><b>{{course.name}}</b></span>
          </p>

          <p class="text-muted font-13 project-hide-overflow">
            {{course.description}}
          </p>
          <div class="cheat-button">
            <button class="course-fee btn btn-block btn-custom waves-effect waves-light" (click)="regisCourse(course.Id, course.courseFee)">${{course.courseFee}}/h</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isTeacher" class="row">
  <div class="col-12">
    <div class="card-box">
      <div class="row">
        <div class="col-sm-6 col-lg-6 col-xl-3">
          <div class="card-box mb-0 widget-chart-two">
            <div class="widget-chart-two-content">
              <p class="text-muted mb-0 mt-2">Total Subscriber</p>
              <h3 class="">0<i class="mdi mdi-24px mdi-receipt text-warning icon-lg float-right"></i></h3>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-6 col-xl-3">
          <div class="card-box mb-0 widget-chart-two">
            <div class="widget-chart-two-content">
              <p class="text-muted mb-0 mt-2">Total Revenue</p>
              <h3 class="">0<i class="mdi mdi-24px mdi-poll-box text-success icon-lg float-right"></i></h3>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-6 col-xl-3">
          <div class="card-box mb-0 widget-chart-two">
            <div class="widget-chart-two-content">
              <p class="text-muted mb-0 mt-2">Total Uploaded Courses</p>
              <h3 class="">0<i class="mdi mdi-24px mdi-account-location text-info icon-lg float-right"></i></h3>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-6 col-xl-3">
          <div class="card-box mb-0 widget-chart-two">
            <div class="widget-chart-two-content">
              <p class="text-muted mb-0 mt-2">Total Rating</p>
              <h3 class="">0<i class="mdi mdi-24px mdi-cube text-danger icon-lg float-right"></i></h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

          <!-- Project Card Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Courses</h6>
            </div>
            <div class="card-body">
              <h4 class="small font-weight-bold">Server Migration <span class="float-right">20%</span></h4>
              <div class="progress mb-4">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <h4 class="small font-weight-bold">Sales Tracking <span class="float-right">40%</span></h4>
              <div class="progress mb-4">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <h4 class="small font-weight-bold">Customer Database <span class="float-right">60%</span></h4>
              <div class="progress mb-4">
                <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
              <h4 class="small font-weight-bold">Payout Details <span class="float-right">80%</span></h4>
              <div class="progress mb-4">
                <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <h4 class="small font-weight-bold">Account Setup <span class="float-right">Complete!</span></h4>
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>

          <!-- Color System -->


        </div>

        <div class="col-lg-6 mb-4">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Advanced Smil Animations</h6>
            </div>
            <div class="card-body">
              <div class="chart-area">
                <div class="chartjs-size-monitor">
                  <div class="chartjs-size-monitor-expand">
                    <div class=""></div>
                  </div>
                  <div class="chartjs-size-monitor-shrink">
                    <div class=""></div>
                  </div>
                </div>
                <canvas id="myAreaChart" style="display: block; height: 320px; width: 741px;" width="926" height="400"
                  class="chartjs-render-monitor"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>