<div class="row">
  <div class="col-8">
    <div class="row mb-4">
      <div class="col-12">
      <div class="video-container">
        <video id="local-video" autoplay></video>
        <video id="remote-video" autoplay></video>
      </div>
      </div>

    </div>
    <div class="row">
      <div class="col-12">
          <div class="card-box">
              <h4 class="header-title m-t-0">Dropzone File Upload</h4>
              <p class="text-muted font-14 m-b-10">
                  Your awesome text goes here.
              </p>

              <form action="#" class="dropzone" id="dropzone">
                  <div class="fallback">
                      <input name="file" type="file" multiple />
                  </div>

              </form>
              <div class="clearfix text-right mt-3">
                  <button type="button" class="btn btn-custom waves-effect waves-light">Submit</button>
              </div>

          </div>
      </div>
  </div>
  </div>
  <div class="col-4">
    <div class="card-box">
      <h4 class="header-title m-b-30">Comments (5)</h4>

      <div>

          <div class="media m-b-20">
              <div class="d-flex mr-3">
                  <a href="#"> <img class="media-object rounded-circle thumb-sm" alt="64x64" src="assets/images/users/avatar-1.jpg"> </a>
              </div>
              <div class="media-body">
                  <h5 class="mt-0">Maxine Kennedy</h5>
                  <p class="font-13 text-muted mb-0">
                      <a href="" class="text-dark">@Michael</a>
                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                      ante sollicitudin commodo. Cras purus odio.
                  </p>
                  <a href="" class="text-success font-13">Reply</a>
              </div>
          </div>

          <div class="media m-b-20">
              <div class="d-flex mr-3">
                  <a href="#"> <img class="media-object rounded-circle thumb-sm" alt="64x64" src="assets/images/users/avatar-2.jpg"> </a>
              </div>
              <div class="media-body">
                  <h5 class="mt-0">Doyle Bell</h5>
                  <p class="font-13 text-muted mb-0">
                      <a href="" class="text-dark">@Michael</a>
                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                      ante sollicitudin commodo. Cras purus odio.
                  </p>
                  <a href="" class="text-success font-13">Reply</a>

                  <div class="media m-t-20 m-b-20">
                      <div class="d-flex mr-3">
                          <a href="#"> <img class="media-object rounded-circle thumb-sm" alt="64x64" src="assets/images/users/avatar-3.jpg"> </a>
                      </div>
                      <div class="media-body">
                          <h5 class="mt-0">Elena Vancamp</h5>
                          <p class="font-13 text-muted mb-0">
                              <a href="" class="text-dark">@Doyle</a>
                              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                              ante sollicitudin commodo. Cras purus odio.
                          </p>
                          <a href="" class="text-success font-13">Reply</a>
                      </div>
                  </div>
              </div>
          </div>

          <div class="media m-b-20">
              <div class="d-flex mr-3">
                  <a href="#"> <img class="media-object rounded-circle thumb-sm" alt="64x64" src="assets/images/users/avatar-1.jpg"> </a>
              </div>
              <div class="media-body">
                  <h5 class="mt-0">Maxine Kennedy</h5>
                  <p class="font-13 text-muted mb-0">
                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                      ante sollicitudin commodo. Cras purus odio.
                  </p>
                  <a href="" class="text-success font-13">Reply</a>
              </div>
          </div>

          <div class="media m-b-20">
              <div class="d-flex mr-3">
                  <a href="#"> <img class="media-object rounded-circle thumb-sm" alt="64x64" src="assets/images/users/avatar-5.jpg"> </a>
              </div>
              <div class="media-body">
                  <h5 class="mt-0">Erick Loper</h5>
                  <p class="font-13 text-muted mb-0">
                      <a href="" class="text-dark">@Maxine</a>
                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                      ante sollicitudin commodo. Cras purus odio.
                  </p>
                  <a href="" class="text-success font-13">Reply</a>
              </div>
          </div>

          <div class="media m-b-20">
              <div class="d-flex mr-3">
                  <a href="#"> <img class="media-object rounded-circle thumb-sm" alt="64x64" src="assets/images/users/avatar-1.jpg"> </a>
              </div>
              <div class="media-body">
                  <input type="text" class="form-control input-sm" placeholder="Some text value...">
                  <div class="mt-2 text-right">
                      <button type="submit" class="btn btn-sm btn-custom waves-effect waves-light">Send</button>
                  </div>
              </div>
          </div>

      </div>
  </div>
  </div>
</div>