<div class="row">
  <div class="col-8">
    <div class="row mb-4">
      <div class="col-12">
      <div class="video-container">
        <video id="local-video" autoplay></video>
        <video id="remote-video" autoplay></video>
      </div>
      </div>

    </div>
    <div class="row">
      <div class="col-12">
          <div class="card-box">
              <h4 class="header-title m-t-0">Dropzone File Upload</h4>
              <p class="text-muted font-14 m-b-10">
                  Your awesome text goes here.
              </p>

              <form action="#" class="dropzone" id="dropzone">
                  <div class="fallback">
                      <input name="file" type="file" multiple />
                  </div>

              </form>
              <div class="clearfix text-right mt-3">
                  <button type="button" class="btn btn-custom waves-effect waves-light">Submit</button>
              </div>

          </div>
      </div>
  </div>
  </div>
  <div class="col-4">
  </div>
</div>