#remote-video {
  background: black;
  height: 100%;
  width: 100%;
}

#local-video {
  width: 40%;
  position: absolute;
  right: 0;
  bottom: 5px;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.chat-box {
  background-color: white;
}