<div class="row">
    <div class="col-12 grid-margin">
        <div class="card" style="margin-top: 100px;">
            
            <div class="card-body">
                <h4 class="text-muted font-18" >Total balances: $320.00</h4>
                <button routerLink='/add-user' type="button" class="btn btn-success btn-fw ml-2"
                    style="float: right">
                    <i class="mdi mdi-account-plus"></i>Add new method
                </button>
                <button routerLink='/add-user' type="button" class="btn btn-info btn-fw ml-2"
                    style="float: right">
                    <i class="mdi mdi-cash"></i>Withdraw
                </button>
                <table id="datatable" class="table table-hover m-0 tickets-list table-actions-bar dt-responsive nowrap"
                    cellspacing="0">
                    <thead>
                        <tr>
                            <th>Card Type</th>
                            <th>Ending in</th>
                            <th>Exp. Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <i class="fa fa-lg fa-cc-visa"></i>
                            </td>
                            <td>
                                4242
                            </td>
                            <td>
                                12/2020
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="fa fa-lg fa-cc-mastercard"></i>
                            </td>
                            <td>
                                4242
                            </td>
                            <td>
                                12/2020
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="fa fa-lg fa-cc-paypal"></i>
                            </td>
                            <td>
                                4242
                            </td>
                            <td>
                                12/2020
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Card Type</th>
                            <th>Ending in</th>
                            <th>Exp. Date</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>