<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" routerLink="/">eMentor</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
              data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="dropdown notification-list">
              <a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false"
                  aria-expanded="false">
                  <img src="/assets/images/no-image.jpg" alt="image" class="rounded-circle"> <span class="ml-1">Hello!!! {{userName}}<i
                          class="mdi mdi-chevron-down"></i> </span>
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown">
                  <div class="dropdown-item noti-title">
                      <h6 class="text-overflow m-0">Hello !</h6>
                  </div>
                  <a href="javascript:void(0);" class="dropdown-item notify-item" routerLink='/view-profile'>
                      <i class="fi-head"></i> <span>View Profile</span>
                  </a>
                  <a href="javascript:void(0);" class="dropdown-item notify-item" routerLink="/change-password">
                      <i class="fi-lock"></i> <span>Change Password</span>
                  </a>
                  <a href="javascript:void(0);" class="dropdown-item notify-item" (click)="logOut()">
                      <i class="fi-power"></i> <span>Logout</span>
                  </a>
              </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="content">
    <div class="container-fluid">
      <router-outlet name="student">
      </router-outlet>
    </div>
  </div>
  
  <footer class="py-5 bg-dark footer">
    <div class="container">
      <p class="m-0 text-center text-white">eMentor Website © 2019</p>
    </div>
  </footer>
  
  <ngx-spinner></ngx-spinner>
  