<div *ngIf="isTeacher" class="row grid-margin pad-top-100 justify-content-center align-middle mb-3"></div>






<!-- 
    ===================
    student region
    =================== -->

<div *ngIf="!isTeacher" class="row grid-margin pad-top-100 justify-content-center align-middle mb-3">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <label class="text-uppercase bold-label-lg"> {{userName}} 's Profile </label>
                <button class="btn btn-lg btn-outline-primary text-right mr-3 btn-edit-profile"
                    routerLink="/edit-profile">
                    Edit Profile
                </button>
                <div class="row mt-3">
                    <div class="col-xs-6 col-lg-6 col-md-6">
                        <img src=" {{user.avatar | image}}" alt="image" height="300" width="300" class="rounded">
                    </div>
                    <div class="col-xs-6 col-lg-6 col-md-6">
                            <h4 class="user-name text-uppercase">{{userName}}</h4>
                            <small *ngIf="user.address" class="ml-4" style="font-size:.8rem;">
                                <cite class="text-muted" title="{{user.address}}">
                                    {{user.address}}
                                     <i class="mdi mdi-map-marker-radius">
                                    </i>
                                </cite>
                            </small>
                            <p class="group-profile-item">
                                <i *ngIf = "user.email" class="mdi mdi-gmail"></i>{{user.email}}
                                <br />
                                <i *ngIf = "user.linkedSite" class="mdi mdi-earth"></i><a href="{{user.linkedSite}}">{{user.linkedSite}}</a>
                                <br />
                                <i *ngIf = "user.dateOfBirth" class="mdi mdi-gift"></i>{{user.dateOfBirth | date: 'mm/DD/yyyy'}}
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
