<div *ngIf="isTeacher" id="wrapper">
    <div class="left side-menu">
        <div class="slimscroll-menu" id="remove-scroll">
            <div class="topbar-left">
                <a class="logo">
                    <span>
                        <img src="/assets/images/no-image.jpg" alt="" height="48">
                    </span>
                    <i>
                        <img src="/assets/images/no-image.jpg" alt="" height="48">
                    </i>
                </a>
            </div>
            <div class="user-box">
                <div class="user-img">
                    <img src="/assets/images/no-image.jpg" alt="user-img" title="truc" class="rounded-circle img-fluid">
                </div>
                <h5><a href="#">Truc</a> </h5>
                <p class="text-muted">Teacher</p>
            </div>
            <div id="sidebar-menu">
                <ul class="metismenu" id="side-menu">
                    <li>
                        <a routerLink="/home-teacher">
                            <i class="menu-icon mdi mdi-home-circle"></i>
                            <span>
                                Home page
                            </span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/users">
                            <i class="menu-icon mdi mdi-human-greeting"></i>
                            <span> Subcriber </span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/overtime-view">
                            <i class="menu-icon mdi mdi-cloud-upload"></i>
                            <span>Upload Course</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="content-page">
        <div class="topbar">
            <nav class="navbar-custom">
                <ul class="list-unstyled topbar-right-menu float-right mb-0">
                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="false" aria-expanded="false">
                            <img src="/assets/images/no-image.jpg" alt="user" class="rounded-circle"> <span
                                class="ml-1"> truc <i class="mdi mdi-chevron-down"></i> </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown">
                            <div class="dropdown-item noti-title">
                                <h6 class="text-overflow m-0">Hello !</h6>
                            </div>
                            <a href="javascript:void(0);" class="dropdown-item notify-item" routerLink='/user-profile'>
                                <i class="fi-head"></i> <span>Profile setting</span>
                            </a>
                            <a href="javascript:void(0);" class="dropdown-item notify-item"
                                routerLink="/change-password">
                                <i class="fi-lock"></i> <span>Change password</span>
                            </a>
                            <a href="javascript:void(0);" class="dropdown-item notify-item" (click)="logOut()">
                                <i class="fi-power"></i> <span>Log out</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="row">

                </div>
            </div>
        </div>
        <footer class="footer">
            eMentor Website © 2019
        </footer>
    </div>
</div>






<!-- 
    ===================
    student region
    =================== -->

<nav *ngIf="!isTeacher" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" routerLink="/home-student">eMentor</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="false" aria-expanded="false">
                        <img src="/assets/images/no-image.jpg" alt="image" class="rounded-circle"> <span class="ml-1">
                            Hello! {{userName}}<i class="mdi mdi-chevron-down"></i> </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown">
                        <a href="javascript:void(0);" class="dropdown-item notify-item" routerLink='/user-profile'>
                            <i class="fi-head"></i> <span>View Profile</span>
                        </a>
                        <a href="javascript:void(0);" class="dropdown-item notify-item" routerLink="/change-password">
                            <i class="fi-lock"></i> <span>Change Password</span>
                        </a>
                        <a href="javascript:void(0);" class="dropdown-item notify-item" (click)="logOut()">
                            <i class="fi-power"></i> <span>Logout</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="row grid-margin pad-top-100 justify-content-center align-middle mb-3">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <label class="text-uppercase bold-label-lg"> {{userName}} 's Profile </label>
                <button class="btn btn-lg btn-outline-primary text-right mr-3 btn-edit-profile"
                    routerLink="/edit-profile">
                    Edit Profile
                </button>
                <div class="row mt-3">
                    <div class="col-xs-6 col-lg-6 col-md-6">
                        <img src="/assets/images/no-image.jpg" alt="image" height="300" width="300" class="rounded">
                    </div>
                    <div class="col-xs-6 col-lg-6 col-md-6">
                            <h4 class="user-name text-uppercase">{{userName}}</h4>
                            <small class="ml-4" style="font-size:.8rem;">
                                <cite class="text-muted" title="San Francisco, USA">
                                    San Francisco, USA
                                     <i class="mdi mdi-map-marker-radius">
                                    </i>
                                </cite>
                            </small>
                            <p class="group-profile-item">
                                <i class="mdi mdi-gmail"></i>email@example.com
                                <br />
                                <i class="mdi mdi-earth"></i><a href="http://www.jquery2dotnet.com">www.jquery2dotnet.com</a>
                                <br />
                                <i class="mdi mdi-gift"></i>June 02, 1988
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="py-5 bg-dark footer">
    <div class="container">
        <p class="m-0 text-center text-white">eMentor Website © 2019</p>
    </div>
</footer>