/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.navbar-expand-lg .navbar-nav {
  position: fixed;
  right: 0px;
}

[invalidmessage]>p {
  color: #ff5252!important;
  font-size: .8rem;
  padding-top: .4rem;
  margin-bottom: 0;
  font-weight: 400!important;
}

[invalidmessage]>p:not(:first-child) {
  display: none;
}