
<div *ngIf="!isTeacher">
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" routerLink="/">eMentor</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
              data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="dropdown notification-list">
              <a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false"
                  aria-expanded="false">
                  <img src="{{user.avatar | image}}" alt="image" class="rounded-circle"> <span class="ml-1">Hello!!! {{user.fullName}}<i
                          class="mdi mdi-chevron-down"></i> </span>
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown">
                  <div class="dropdown-item noti-title">
                      <h6 class="text-overflow m-0">Hello !</h6>
                  </div>
                  <a href="javascript:void(0);" class="dropdown-item notify-item" routerLink='/view-profile'>
                      <i class="fi-head"></i> <span>View Profile</span>
                  </a>
                  <a href="javascript:void(0);" class="dropdown-item notify-item" routerLink="/change-password">
                      <i class="fi-lock"></i> <span>Change Password</span>
                  </a>
                  <a href="javascript:void(0);" class="dropdown-item notify-item" routerLink="/logout">
                      <i class="fi-power"></i> <span>Logout</span>
                  </a>
              </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="content">
    <div class="container-fluid">
      <router-outlet>
      </router-outlet>
    </div>
  </div>
  
  <footer class="py-5 bg-dark footer">
    <div class="container">
      <p class="m-0 text-center text-white">eMentor Website © 2019</p>
    </div>
  </footer>
  
</div>
<div *ngIf="isTeacher" id="wrapper">
  <div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">
      <div class="topbar-left">
        <a class="logo">
          <span>
            <img src="{{user.avatar | image}}" alt="" height="48">
          </span>
          <i>
            <img src="{{user.avatar | image}}" alt="" height="48">
          </i>
        </a>
      </div>
      <div class="user-box">
        <div class="user-img">
          <img src="{{user.avatar | image}}" alt="user-img" title="truc" class="rounded-circle img-fluid">
        </div>
        <h5><a href="#">{{user.fullName}}</a> </h5>
        <p class="text-muted">Teacher</p>
      </div>
      <div id="sidebar-menu">
        <ul class="metismenu" id="side-menu">
          <li>
            <a routerLink="/">
              <i class="menu-icon mdi mdi-home-circle"></i>
              <span>
                Home page
              </span>
            </a>
          </li>
          <li>
            <a routerLink="/users">
              <i class="menu-icon mdi mdi-human-greeting"></i>
              <span> Subcriber </span>
            </a>
          </li>
          <li>
            <a routerLink="/view-course">
              <i class="menu-icon mdi mdi-cloud-upload"></i>
              <span>Upload Course</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="content-page">
    <div class="topbar">
      <nav class="navbar-custom">
        <ul class="list-unstyled topbar-right-menu float-right mb-0">
          <li class="dropdown notification-list">
            <a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" role="button"
              aria-haspopup="false" aria-expanded="false">
              <img src="{{user.avatar | image}}" alt="user" class="rounded-circle"> <span class="ml-1"> Hello!!! {{user.fullName}} <i
                  class="mdi mdi-chevron-down"></i> </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown">

                <a href="javascript:void(0);" class="dropdown-item notify-item" routerLink='/view-profile'>
                    <i class="fi-head"></i> <span>View Profile</span>
                </a>
                <a href="javascript:void(0);" class="dropdown-item notify-item" routerLink="/change-password">
                    <i class="fi-lock"></i> <span>Change Password</span>
                </a>
                <a href="javascript:void(0);" class="dropdown-item notify-item" routerLink="/logout">
                    <i class="fi-power"></i> <span>Logout</span>
                </a>
            </div>
          </li>
        </ul>
        <ul class="list-inline menu-left mb-0">
          <li class="float-left">
            <button class="button-menu-mobile open-left disable-btn">
              <i class="dripicons-menu"></i>
            </button>
          </li>
          <li>
            <div class="page-title-box">
              <h4 class="page-title">Dashboard</h4>
              <ol class="breadcrumb">
                <li class="breadcrumb-item active">
                  Welcome to eMentor ^^
                </li>
              </ol>
            </div>
          </li>
  
        </ul>
      </nav>
    </div>
    <div class="content">
      <div class="container-fluid">
          <router-outlet>
          </router-outlet>
      </div>
    </div>
    <footer class="footer">
      eMentor Website © 2019
    </footer>
  </div>
</div>
<ngx-spinner></ngx-spinner>
